<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.experience_platform.file.mapper.FileMapper">

    <insert id="insertFile">
        INSERT INTO campaign_files (
        file_id,
        campaign_id,
        save_name,
        original_name,
        file_url,
        uploaded_at
        ) VALUES (
        file_id_seq.NEXTVAL,
        #{campaignId},
        #{saveName},
        #{originalName},
        #{fileUrl},
        SYSDATE
        )
    </insert>



    <select id="getFileByCampaignId" resultType="com.example.experience_platform.file.vo.FileVo">
        SELECT
        file_id,
        campaign_id,
        save_name,
        original_name,
        file_url,
        uploaded_at
        FROM campaign_files
        WHERE campaign_id = #{campaignId}
        FETCH FIRST 1 ROWS ONLY
    </select>

</mapper>